<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Hawken Rives</string>
	<key>Builder Version</key>
	<string>12602.1.50.0.9</string>
	<key>CFBundleDisplayName</key>
	<string>Gobbldygook SIS Integration</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.hawkrives.gobbldygook-safari-extension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>fetch-polyfill.js</string>
				<string>sis-fetch.js</string>
			</array>
			<key>End</key>
			<array>
				<string>inject-ext-version.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Allows Gobbldygook to import student data from the SIS</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>https://hawkrives.github.io/gobbldygook</string>
				<string>https://www.stolaf.edu/sis</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://hawkrives.github.io/gobbldygook</string>
</dict>
</plist>
